/* ==========================================================================
   Global
   ========================================================================== */

/* Fonts
   ========================================================================== */

@font-face {
  font-family: 'rickandmorty';
  font-weight: normal;
  font-style: normal;
  src: url('./assets/fonts/roiland-sans-webfont.woff2') format('woff2'), url('./assets/fonts/roiland-sans-webfont.woff') format('woff');
}

@font-face {
  font-family: 'kinda-rickandmorty';
  font-style: normal;
  src: url(./assets/fonts/kinda-rickandmorty-regular-webfont.woff2) format('woff2'), url('./assets/fonts/kinda-rickandmorty-regular-webfont.woff') format('woff');
  unicode-range: U+28-39;
}

/* Colors
   ========================================================================== */

:root {
  --blue: #5db5fe;
  --dark-bg: #202831;
  --darker-text: #adbfce;
  --green: #7acd74;
  --grey: #5c6773;
  --light-bg: #374149;
  --red: #ce575b;
  --text: #ffffff;
}

/* Loading spinner (or in this case - three dots)
   ========================================================================== */

.loader, .loader:before, .loader:after {
  border-radius: 50%;
  height: 2.5em;
  width: 2.5em;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation: load 1.8s infinite ease-in-out;
  animation: load 1.8s infinite ease-in-out;
}

.loader {
  animation-delay: -0.16s;
  color: #ffffff;
  font-size: 10px;
  margin: 80px auto;
  position: relative;
  text-indent: -9999em;
  -ms-transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
}

.loader:before, .loader:after {
  content: '';
  position: absolute;
  top: 0;
}

.loader:before {
  left: -3.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.loader:after {
  left: 3.5em;
}

@-webkit-keyframes load {
  0%, 80%, 100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
    box-shadow: 0 2.5em 0 0;
  }
}

@keyframes load {
  0%, 80%, 100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
    box-shadow: 0 2.5em 0 0;
  }
}

/* Global colors and layout
   ========================================================================== */

* {
  box-sizing: border-box;
}

body {
  background-color: var(--dark-bg);
  color: var(--text)
}

.content-container {
  margin: 0 auto;
  max-width: 1160px;
  padding-bottom: 30px;
  width: 70vw;
}

header, footer {
  align-items: baseline;
  display: flex;
  flex-direction: row;
  padding: 20px 0;
}

/* Pickle Riiick in the bottom right corner
   ========================================================================== */

.rick-face {
  bottom: 0;
  right: 0;
  height: 190px;
  position: fixed;
  width: 150px;
}

.rick-face:hover::after {
  background-image: url(./assets/img/pickle_rick.png);
  right: 30px;
  bottom: 30px;
  opacity: 1;
  -moz-transform: rotate(-720deg) scale(1.25);
  -ms-transform: rotate(-720deg) scale(1.25);
  -o-transform: rotate(-720deg) scale(1.25);
  -webkit-transform: rotate(-720deg) scale(1.25);
  transform: rotate(-720deg) scale(1.25);
}

.rick-face::after {
  content: '';
  background-image: url(./assets/img/rick.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  opacity: 0.5;
  position: absolute;
  transition: all 0.4s ease-in-out;
}

/* Header
   ========================================================================== */

.logo {
  width: 200px;
}

.navbar {
  display: flex;
  flex-grow: 1;
  justify-content: flex-end;
  padding-right: 30px;
  text-align: center;
}

.navlink {
  color: var(--darker-text);
  font-size: 1.3rem;
  padding: 20px;
}

.navlink:hover {
  color: var(--text);
  transition: .5s;
}

.search-field {
  background-color: var(--grey);
  border-radius: 4px;
  border: none;
  color: var(--text);
  padding: 7px;
}

.search-field:focus {
  border: 0;
  border-bottom: 2px solid var(--red);
  outline: 0;
}

.search-field::placeholder {
  color: var(--darker-text);
  padding-left: 5px;
}

/* Footer
   ========================================================================== */

footer {
  border-top: 1px solid var(--red);
  flex-wrap: wrap;
  height: 110px;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
}

footer>div {
  flex: 1 0 50%;
}

.footer-info {
  flex: 0 1 100%;
  text-align: center;
  margin: 15px auto;
}

.footer-navbar {
  margin-right: -20px;
  padding: 0;
}

.footer-logo {
  width: 100px;
}

.footer-navlink {
  font-size: 1rem;
  padding: 5px 20px;
}

.footer-info>p {
  color: var(--grey);
  font-size: .8rem;
  margin-bottom: 0;
}

.github a {
  color: var(--darker-text);
  margin-left: 5px;
  text-decoration: none;
}

.github::after {
  content: '';
  background-image: url(./assets/img/icons/github-logo.svg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: 0 0 -4px 5px;
}

/* ==========================================================================
   Landing page
   ========================================================================== */

.char-cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 30px auto;
  max-width: 1160px;
  width: 70vw;
}

.char-card {
  background-color: var(--light-bg);
  margin: 25px 20px;
  text-align: center;
  width: 250px;
}

.char-card img {
  background: url(./assets/img/placeholder.png) center/cover no-repeat;
  width: 90%;
  height: 230px;
  margin: -20px auto 0 auto;
  border-radius: 3px;
  -webkit-box-shadow: -1px 14px 29px -13px rgba(10, 10, 10, 0.8);
  -moz-box-shadow: -1px 14px 29px -13px rgba(10, 10, 10, 0.8);
  box-shadow: -1px 14px 29px -13px rgba(10, 10, 10, 0.8);
}

.hvr-grow {
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}

.hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
  -webkit-transform: scale(1.12);
  transform: scale(1.12);
}

.char-card .card-body {
  overflow: hidden;
}

/* On mobile (single col layout) title text looks ok on multiple lines, 
   so scroller should not be used there. Also there is no hover state on touch */

.char-card .card-body:hover .card-title-scroller {
  margin-left: -300px;
}

.card-title {
  color: var(--darker-text);
  font-family: 'kinda-rickandmorty', 'rickandmorty', 'Roboto', sans-serif;
  font-size: 2.1rem;
  margin-bottom: 0;
}

.card-title-scroller {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  -webkit-transition: 3s;
  -moz-transition: 3s;
  transition: 3s;
  -webkit-transition-timing-function: cubic-bezier(0.04, 0.4, 0.58, 0.68);
  -moz-transition-timing-function: cubic-bezier(0.04, 0.4, 0.58, 0.68);
  transition-timing-function: cubic-bezier(0.04, 0.4, 0.58, 0.68);
}

/* ==========================================================================
   Single character page
   ========================================================================== */

.char-info-title {
  font-family: 'kinda-rickandmorty', 'rickandmorty', 'Roboto', sans-serif;
  margin-top: 30px;
}

.char-info-avatar {
  border-radius: 5px;
  width: 200px;
  height: 200px;
  margin: 20px auto !important;
  -webkit-box-shadow: -1px 14px 29px -13px rgba(10, 10, 10, 0.8);
  -moz-box-shadow: -1px 14px 29px -13px rgba(10, 10, 10, 0.8);
  box-shadow: -1px 14px 29px -13px rgba(10, 10, 10, 0.8);
}

.char-info {
  display: flex;
  align-items: center;
}

.char-info-flex-container {
  display: flex;
  flex-wrap: wrap;
}

.char-info-row {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  padding: 5px 0;
}

.char-info-col-title {
  color: var(--grey);
  margin-right: 20px;
  text-align: right;
  min-width: 100px;
}

.char-info-col {
  color: var(--blue);
  font-size: 1.3rem;
}

.char-seen {
  position: relative;
}

.char-seen-cards-container {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  margin: -30px auto 30px auto;
  padding: 30px 0;
  overflow: auto;
  max-width: 1160px;
  width: 70vw;
}

.seen-episode-info {
  flex-direction: column;
  margin: 0 20px;
  min-width: 200px;
}

.seen-episode-info>div {
  width: 100% !important;
}

/* ==========================================================================
   Single Episode
   ========================================================================== */

.single-episode-card {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 30px;
}

.ep-air-date {
  color: var(--green);
  margin-left: auto;
  align-self: center;
}

.single-episode-card .episode-info {
  flex: 0 0 100%;
}

.single-episode-card .card-title {
  margin-bottom: 10px;
}

.single-subtitle {
  margin: 30px auto;
  font-size: 1.2rem;
  font-weight: 400;
  color: var(--darker-text)
}

/* ==========================================================================
   All Locations & All Episodes
   ========================================================================== */

.location-card {
  margin-top: 30px;
  width: 100%;
}

.location-card>.card-title {
  margin-bottom: 10px;
}

.location-info, .episode-info {
  background-color: var(--light-bg);
  border-radius: 4px;
  display: flex;
  -webkit-box-shadow: -1px 14px 29px -13px rgba(10, 10, 10, 0.8);
  -moz-box-shadow: -1px 14px 29px -13px rgba(10, 10, 10, 0.8);
  box-shadow: -1px 14px 29px -13px rgba(10, 10, 10, 0.8);
}

.location-info>div, .episode-info>div {
  display: inline-block;
  padding: 20px;
}

.location-info>div:first-of-type {
  width: 35%;
}

.episode-info>div {
  width: 100%;
}

.episode-info>div:first-of-type {
  width: 70%;
}

.episode-info>div:last-of-type {
  width: 30%;
}

.location-info>div:nth-of-type(2) {
  width: 55%;
}

.location-info>div:last-of-type {
  border-radius: 0 4px 4px 0;
  text-align: right;
  width: 10%;
}

.location-info h4, .episode-info h4 {
  color: var(--grey);
  font-size: 1.3rem;
}

.location-info p, .episode-info p {
  color: var(--blue);
  font-size: 1.4rem;
  margin-bottom: 0;
}

/* ==========================================================================
   Media queries
   ========================================================================== */

@media (max-width: 1660px) {
  .char-cards-container {
    max-width: 85%;
    width: 85%;
  }
}

@media (max-width: 1380px) {
  .char-cards-container {
    max-width: 90%;
    width: 90%;
  }
}

@media (max-width: 1155px) {
  header {
    flex-wrap: wrap;
  }
  .form-inline, .search-field {
    height: 50px;
    margin-top: 10px;
    width: 100%;
  }
  header .navbar {
    padding: 0;
  }
  header .navbar a:last-of-type {
    margin-right: -20px;
  }
  .char-cards-container {
    max-width: 100%;
    width: 100%;
  }
}

@media (max-width: 730px) {
  header, footer {
    justify-content: center;
  }
  footer {
    flex-wrap: wrap;
  }
  .navbar {
    justify-content: center;
    width: 100%;
  }
  .form-inline, .search-field {
    margin-top: 0;
  }
  footer .navbar {
    flex: 0 1 100%;
    margin-top: 20px;
    margin-right: 0;
  }
  header .navbar a:last-of-type {
    margin-right: 0;
  }
  .rick-face {
    display: none;
  }
  .char-info {
    flex-wrap: wrap;
  }
  .char-info-title {
    text-align: center;
  }
  .char-info-avatar, .char-info-flex-container {
    margin: 0 auto;
  }
}